.at-nav-bar {
  position        : absolute;
  top             : 0px;
  left            : 0px;
  background-color: transparent;
  width           : 100%
}

.at-tab-bar__title {
  font-size: 32rpx;
}

.at-nav-bar__left-view .at-icon,
.at-nav-bar__text {
  font-size: 32rpx;
}

.form-item-nav .at-nav-bar__left-view {
  padding-left: 22rpx;
}

.radio-list__label {
  margin-right: 30rpx
}

.rightArrow {
  position: absolute;
  right   : 30rpx
}

.bottomBar {
  position: fixed;
  bottom  : 0px;
  width   : 100%;
}