<!--
    工作日设置的前端示例，根据bootstrap-datepicker修改，js文件和css文件都作了相应修改。    
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>假期管理</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="plugin/datepicker/datepicker3.css">
  <style type="text/css">
    body {
      text-align: center;
    }

    .Contain {
      margin: 0px auto;
      width: 90%;
    }

    .datepicker {
      float: left;
    }

    .datepicker table tr td.old:hover,
    .datepicker table tr td.new:hover {
      cursor: default;
      background: rgba(0, 0, 0, 0);
    }
  </style>
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="plugin/datepicker/bootstrap-datepicker.js"></script>
  <script type="text/javascript" src="plugin/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
  <script type="text/javascript">
    window.holidays = [];
    $(function () {
      var year = new Date().getFullYear();
      for (var i = 0; i < 12; i++) {
        var date = year + "-" + i;
        $('.Contain').append("<div class=\"datepicker\" data-tag=\"" + date + "\"></div>");
      }
      $('.datepicker').each(function (index, element) {
        var date = $(element).data('tag');
        $(element).datepicker({
          language: "zh-CN",
          defaultViewDate: { year: date.split('-')[0], month: date.split('-')[1], day: 1 }
        });
      });
      $('.prev,.next').css('visibility', 'hidden');
      setAutoHolidays(year);
    });
    function viewHolidays() {
      if (holidays && holidays.length > 0) {
        console.log(holidays);
      }
    }
    function setAutoHolidays(year) {
      $('.datepicker .datepicker-days').find('table tbody').each(function (tbIndex, tbItem) {
        var month = tbIndex + 1;
        $(tbItem).find('tr').each(function (trIndex, trItem) {
          var $tdElem = $(trItem).find('td:eq(5)');
          checkHoliday($tdElem, year, month);
          $tdElem = $(trItem).find('td:eq(6)');
          checkHoliday($tdElem, year, month);
        });
      });
    }
    function checkHoliday($elem, year, month) {
      if ($elem.hasClass('old') || $elem.hasClass('new')) {
        return;
      }
      $elem.addClass('holiday');
      holidays.push(year + "-" + month + "-" + $elem.html());
    }
  </script>
</head>

<body>
  <div class="Contain">

  </div>
  <div>
    <button onclick="viewHolidays()">查看假期</button>
  </div>
</body>

</html>